@model UI.Web.Models.NewInfo


<div style="margin:0 auto;text-align:center">
    <div style="text-align:center; margin:0 auto; width:80%;">
        @using (Html.BeginForm("CreateNews", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h1>Thêm mới bài báo</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <h4>Tiêu đề bài báo</h4>
                    <div class="col-md-12">
                        @Html.HiddenFor(model => model.NewsId)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Image, new { htmlAttributes = new { Style = "display:none" } })
                    </div>
                </div>
                <div class="form-group">
                    <h4>Tiêu đề hình ảnh</h4>
                    <div class="col-md-12">
                        <img src="#" id="review" style="width:80%;height:400px; margin-bottom:20px" />
                        <br />
                        <button type="button" id="select" class="btn btn-primary">Chọn ảnh </button>
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <h4>Nội dung bài báo</h4>
                    <div class="col-md-12">
                        <br />

                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group">
                    <h4>Chọn chủ đề cho bài báo</h4>
                    <div style="width:90%">
                        @for (int i = 0; i < Model.Topic.Count; i++)
                        {

                            @Html.TextBoxFor(m => m.Topic[i].TopicName)
                            <input type="checkbox" class="form-check-input checktopic" value=@Model.Topic[i].TopicId.ToString()>
                        }
                    </div>

                    <input type="text" id="topicstring" name="topicstring" style="display:none" />
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm bài báo mới" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/DataCK/ckeditor/ckeditor.js"></script>
<script src="~/DataCK/ckfinder/ckfinder.js"></script>
<script>
    $(document).ready(function () {
        CKEDITOR.replace("Description");
        CKEDITOR.instances["Description"].on('change', function () {
            var obj = CKEDITOR.instances["Description"].getData();
            $("#Description").val(obj);
        });
        $("#select").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#review").attr("src", "../../.." + fileUrl);
                var str = String(fileUrl).replace("/Uploads/images/", "");
                $("#Image").val(str);
            };
            finder.popup();
        });
        $('.checktopic').change(function () {
            var checkedValue = "";
            var inputElements = document.getElementsByClassName('checktopic');
            for (var i = 0; inputElements[i]; ++i) {
                if (inputElements[i].checked) {
                    checkedValue = checkedValue += inputElements[i].value + ",";
                }
            }
            checkedValue = checkedValue.substring(0, checkedValue.length - 1);
            $('#topicstring').val(checkedValue);
        });

    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

