@model UI.Web.Models.NewInfo

@{
    ViewBag.Title = "CreateInfo";
}
@using (Html.BeginForm("CreateInfo", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Thêm bài báo mới</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>Tiêu đề bài báo</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Nhà báo</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Journalist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Journalist, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, "Tiêu đề hình ảnh", new { htmlAttributes = new { @class = "form-control " } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="#" id="review" style="width:100%;height:400px; margin-bottom:20px" />
                <br />
                <button type="button" id="select" class="btn btn-primary">Chọn ảnh </button>
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Nội dung bài báo</h4>
            <div class="col-md-10">
                <br />
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <h4>Chọn chủ đề cho bài báo</h4>
            @for (int i = 0; i < Model.Topic.Count; i++)
            {

                @Html.TextBoxFor(m => m.Topic[i].TopicName)
                <input type="checkbox" class="form-check-input checktopic" value=@Model.Topic[i].TopicId.ToString()>
            }
            <input type="text" id="topicstring" name="topicstring" style="display:none" />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm bài báo" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<script src="~/DataCK/ckeditor/ckeditor.js"></script>
<script src="~/DataCK/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/jscreate.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

